{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>500 Page | BlueWorkS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon
		============================================ -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'blueworks/img/logo/blueworks.png' %}">
  <!-- Google Fonts
		============================================ -->
  <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
  <!-- Bootstrap CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/bootstrap.min.css' %}">
  <!-- Bootstrap CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/font-awesome.min.css' %}">
  <!-- owl.carousel CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'blueworks/css/owl.theme.css' %}">
  <link rel="stylesheet" href="{% static 'blueworks/css/owl.transitions.css' %}">
  <!-- animate CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/animate.css' %}">
  <!-- normalize CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/normalize.css' %}">
  <!-- main CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/main.css' %}">
  <!-- morrisjs CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/morrisjs/morris.css' %}">
  <!-- mCustomScrollbar CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/scrollbar/jquery.mCustomScrollbar.min.css' %}">
  <!-- metisMenu CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/metisMenu/metisMenu.min.css' %}">
  <link rel="stylesheet" href="{% static 'blueworks/css/metisMenu/metisMenu-vertical.css' %}">
  <!-- calendar CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/calendar/fullcalendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'blueworks/css/calendar/fullcalendar.print.min.css' %}">
  <!-- style CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/style.css' %}">
  <!-- responsive CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/responsive.css' %}">
  <!-- modernizr JS
		============================================ -->
  <script src="{% static 'blueworks/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  <div class="color-line"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="back-link back-backend">
          <a href="Accueil.html" class="btn btn-primary">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
      <div class="col-md-6 col-md-6 col-sm-6 col-xs-12">
        <div class="content-error">
          <h1>Internal Server Error <span class="counter"> 500</span></h1>
          <p>The server encountered something unexpected that didn't allow it to complete the request. We apologize.</p>
          <a href="#">Report Problem</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 text-center login-footer">
        <p>Copyright © 2019 <a href="https://colorlib.com/wp/templates/">BlueWorkS</a> All rights reserved.
          <br>By Kimia technologies</p>
      </div>
    </div>
  </div>


  <!-- jquery
		============================================ -->
  <script src="{% static 'blueworks/js/vendor/jquery-1.11.3.min.js' %}"></script>
  <!-- bootstrap JS
		============================================ -->
  <script src="{% static 'blueworks/js/bootstrap.min.js' %}"></script>
  <!-- wow JS
		============================================ -->
  <script src="{% static 'blueworks/js/wow.min.js' %}"></script>
  <!-- price-slider JS
		============================================ -->
  <script src="{% static 'blueworks/js/jquery-price-slider.js' %}"></script>
  <!-- meanmenu JS
		============================================ -->
  <script src="{% static 'blueworks/js/jquery.meanmenu.js' %}"></script>
  <!-- owl.carousel JS
		============================================ -->
  <script src="{% static 'blueworks/js/owl.carousel.min.js' %}"></script>
  <!-- sticky JS
		============================================ -->
  <script src="{% static 'blueworks/js/jquery.sticky.js' %}"></script>
  <!-- scrollUp JS
		============================================ -->
  <script src="{% static 'blueworks/js/jquery.scrollUp.min.js' %}"></script>
  <!-- mCustomScrollbar JS
		============================================ -->
  <script src="{% static 'blueworks/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'blueworks/js/scrollbar/mCustomScrollbar-active.js' %}"></script>
  <!-- metisMenu JS
		============================================ -->
  <script src="{% static 'blueworks/js/metisMenu/metisMenu.min.js' %}"></script>
  <script src="{% static 'blueworks/js/metisMenu/metisMenu-active.js' %}"></script>
  <!-- counterup JS
		============================================ -->
  <script src="{% static 'blueworks/js/counterup/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'blueworks/js/counterup/waypoints.min.js' %}"></script>
  <script src="{% static 'blueworks/js/counterup/counterup-active.js' %}"></script>
  <!-- morrisjs JS
		============================================ -->
  <script src="{% static 'blueworks/js/sparkline/jquery.sparkline.min.js' %}"></script>
  <script src="{% static 'blueworks/js/sparkline/jquery.charts-sparkline.js' %}"></script>
  <!-- calendar JS
		============================================ -->
  <script src="{% static 'blueworks/js/calendar/moment.min.js' %}"></script>
  <script src="{% static 'blueworks/js/calendar/fullcalendar.min.js' %}"></script>
  <script src="{% static 'blueworks/js/calendar/fullcalendar-active.js' %}"></script>
  <!-- tab JS
		============================================ -->
  <script src="{% static 'blueworks/js/tab.js' %}"></script>
  <!-- plugins JS
		============================================ -->
  <script src="{% static 'blueworks/js/plugins.js' %}"></script>
  <!-- main JS
		============================================ -->
  <script src="{% static 'blueworks/js/main.js' %}"></script>
</body>

</html>