{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Login | BlueWorkS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon
		============================================ -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'blueworks/img/logo/blueworks.png' %}">
  <!-- Google Fonts
		============================================ -->
  <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
  <!-- Bootstrap CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/bootstrap.min.css' %}">
  <!-- Bootstrap CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/font-awesome.min.css' %}">
  <!-- forms CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/form/all-type-forms.css' %}">
  <!-- style CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/style.css' %}">
  <!-- responsive CSS
		============================================ -->
  <link rel="stylesheet" href="{% static 'blueworks/css/responsive.css' %}">
</head>

<body>
  <div class="color-line"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
      <div class="col-md-4 col-md-4 col-sm-4 col-xs-12">
        <div class="text-center m-b-md custom-login"><br>
          <img src="{% static 'blueworks/img/logo/blueworks.png' %}" height="120" width="120" alt="">
          <p>Great places to focus on what matters...</p>
          <h3>LOGIN</h3>
        </div>
        <div class="hpanel">
          <div class="panel-body">
            <div id="loginForm">
              <label for="">Email</label>
              <div class="input-group mg-b-15">
                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <input type="text" id="crd" class="form-control input-lg" placeholder="e-mail, phone or pseudo">
              </div>
              <label for="">Mot de passe</label>
              <div class="input-group mg-b-15">
                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password" id="k" class="form-control input-lg" placeholder="password">
              </div>
              <input type="hidden" name="s" value="BlueWorkS1">
              <div>
                <p style="text-align: center" id="error"></p>
              </div>
              <div class="btn btn-success btn-block loginbtn" id="login">Login</div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <p>Copyright &copy; 2019 <a href="https://blueworkspaces.com/">BlueWorkS</a> All rights reserved.
            <br>By Kimia technologies</p>
        </div>
      </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="{% static 'blueworks/js/vendor/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{% static 'blueworks/js/bootstrap.min.js' %}"></script>
    <script lang="javascript">
      (function ($) {
        $('#login').on('click', function () {
          $.ajax({
            url: 'http://127.0.0.1:1111/api.blueworks/login',
            type: 'POST',
            dataType: 'JSON',
            data: {
              id: $('#crd').val(),
              k: $('#k').val()
            },
            success: function (data) {
              localStorage.setItem('token', data.token);
              localStorage.setItem('pseudo', data.user.pseudo);
              sessionStorage.setItem('ipf', data.refreshToken);
              window.location = 'accueil.html';
            },
            error: function (xhr, err) {
              $('#error').html(xhr.responseJSON.msg).css({
                'color': 'red'
              })
            },
            async: true
          });
        });
      }(jQuery));
    </script>
</body>

</html>