<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ajouter | BlueWorkS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo/blueworks.png">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="css/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="css/calendar/fullcalendar.print.min.css">
    <!-- tabs CSS
		============================================ -->
    <link rel="stylesheet" href="css/tabs.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
        <!-- left menu -->
        <div class="left-sidebar-pro">
            <nav id="sidebar" class="">
                <div class="sidebar-header" style="margin-top: 5px">
                    <a href="index.html"><img class="main-logo" src="img/logo/blueworks.png" height="100" width="100"
                            alt="" /></a>
                    <strong><img src="img/logo/logosn.png" alt="" /></strong>
                </div>
                <div class="left-custom-menu-adp-wrap comment-scrollbar">
                    <nav class="sidebar-nav left-sidebar-menu-pro">
                        <ul class="metismenu" id="menu1">
                            <li onclick="window.location='./dashboard.html'" style="color: grey; font-weight: 500;
                                    font-size: 17px; padding: 14px; cursor: pointer;">
                                <i class="fa fa-dashboard icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                <span class="mini-click-non" style="position: absolute; top: 10px"> &nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;Tableau de bord</span>
                            </li>
                            <li onclick="window.location='./Accueil.html'" style="background-color: rgb(0, 111, 186); color: whitesmoke;
                                font-size: 17px; padding: 14px; font-weight: bold; cursor: pointer;">
                                <i class="fa fa-calendar icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                <span class="mini-click-non" style="position: absolute; top: 10px"> &nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;Reservations</span>
                            </li>
                            <li onclick="window.location='./coworker.html'" style="color: grey; font-weight: 500;
                                font-size: 17px; padding: 14px; cursor: pointer;" class="test">
                                <i class="fa fa-user icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                <span class="mini-click-non" style="position: absolute; top: 10px"> &nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;Coworker</span>
                            </li>
                            <li onclick="window.location='./500.html'" style="color: grey; font-weight: 500;
                                font-size: 17px; padding: 14px; cursor: pointer;">
                                <i class="fa fa-table icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                <span class="mini-click-non" style="position: absolute; top: 10px"> &nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;Animateurs</span>
                            </li>
                            <li onclick="window.location='./mailbox.html'" style="color: grey; font-weight: 500;
                                font-size: 17px; padding: 14px; cursor: pointer;">
                                <i class="fa fa-envelope icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                <span class="mini-click-non" style="position: absolute; top: 10px"> &nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;Courrier</span>
                            </li>
                            <li onclick="window.location='./dashboard.html'" style="color: grey; font-weight: 500;
                                font-size: 17px; padding: 14px; cursor: pointer;">
                                <i class="fa fa-bell icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                <span class="mini-click-non" style="position: absolute; top: 10px"> &nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;Notifications</span>
                            </li>
                            <li onclick="window.location='./500.html'" style="color: grey; font-weight: 500;
                                font-size: 17px; padding: 14px; cursor: pointer;">
                                <i class="fa fa-bookmark icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                <span class="mini-click-non" style="position: absolute; top: 10px"> &nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;Inviter</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo-pro">
                            <a href="index.html"><img class="main-logo" src="img/logo/blueworks.png" height="50" width="50"
                                    alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-advance-area">
                <div class="header-top-area">
                    <div class="container-fluid" style="background-color: rgb(0, 111, 186)">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header-top-wraper">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                            <div class="menu-switcher-pro">
                                                <button type="button" id="sidebarCollapse"
                                                    class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                    <i class="fa fa-bars"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                            <div class="header-top-menu tabl-d-n">
                                                <ul class="nav navbar-nav mai-top-nav">
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                            <div class="header-right-info">
                                                <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                    <li class="nav-item dropdown">
                                                        <a href="#" data-toggle="dropdown" role="button"
                                                            aria-expanded="false" class="nav-link dropdown-toggle"><i
                                                                class="fa fa-envelope-o adminpro-chat-pro"
                                                                aria-hidden="true"></i><span
                                                                class="indicator-ms"></span></a>
                                                        <!-- <div role="menu" style="background-color: rgb(0, 111, 186)"
                                                            class="author-message-top dropdown-menu animated zoomIn" style="border: 1px solid white">
                                                            <div class="message-single-top" style="border: 1px solid white">
                                                                <h1>Message</h1>
                                                            </div>
                                                            <ul class="message-menu" style="border: 1px solid white">
                                                                <li style="border: 1px solid white">
                                                                    <a href="#">
                                                                        <div class="message-img">
                                                                            <img src="img/contact/3.jpg" alt="">
                                                                        </div>
                                                                        <div class="message-content">
                                                                            <span class="message-date">16 Sept</span>
                                                                            <h2>Victor Jara</h2>
                                                                            <p>Please done this project as soon possible.
                                                                            </p>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <div class="message-img">
                                                                            <img src="img/contact/2.jpg" alt="">
                                                                        </div>
                                                                        <div class="message-content">
                                                                            <span class="message-date">16 Sept</span>
                                                                            <h2>Victor Jara</h2>
                                                                            <p>Please done this project as soon possible.
                                                                            </p>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <div class="message-view">
                                                                <a href="#">View All Messages</a>
                                                            </div>
                                                        </div> -->
                                                    </li>
                                                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button"
                                                            aria-expanded="false" class="nav-link dropdown-toggle"><i
                                                                class="fa fa-bell-o" aria-hidden="true"></i><span
                                                                class="indicator-nt"></span></a>
                                                        <!-- <div role="menu"
                                                            class="notification-author dropdown-menu animated zoomIn">
                                                            <div class="notification-single-top">
                                                                <h1>Notifications</h1>
                                                            </div>
                                                            <ul class="notification-menu">
                                                                <li>
                                                                    <a href="#">
                                                                        <div class="notification-icon">
                                                                            <i class="fa fa-eraser adminpro-shield"
                                                                                aria-hidden="true"></i>
                                                                        </div>
                                                                        <div class="notification-content">
                                                                            <span class="notification-date">16 Sept</span>
                                                                            <h2>Victor Jara</h2>
                                                                            <p>Please done this project as soon possible.
                                                                            </p>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <div class="notification-icon">
                                                                            <i class="fa fa-line-chart adminpro-analytics-arrow"
                                                                                aria-hidden="true"></i>
                                                                        </div>
                                                                        <div class="notification-content">
                                                                            <span class="notification-date">16 Sept</span>
                                                                            <h2>Victor Jara</h2>
                                                                            <p>Please done this project as soon possible.
                                                                            </p>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <div class="notification-view">
                                                                <a href="#">View All Notification</a>
                                                            </div>
                                                        </div> -->
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" data-toggle="dropdown" role="button"
                                                            aria-expanded="false" class="nav-link dropdown-toggle">
                                                            <i class="fa fa-user adminpro-user-rounded header-riht-inf"
                                                                aria-hidden="true"></i>
                                                            <span class="admin-name" id="username"></span>
                                                            <i
                                                                class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                                        </a>
                                                        <ul role="menu" style="background-color:  rgb(0, 111, 186)"
                                                            class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                            <li><a href="#"><span class="fa fa-user author-log-ic"></span>My
                                                                    Profile</a>
                                                            </li>
                                                            <li><a href="#" id="logout"><span
                                                                        class="fa fa-lock author-log-ic"></span>Log Out</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu start -->
                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul class="metismenu" id="menu1">
                                            <li onclick="window.location='./dashboard.html'" style="color: grey; font-weight: 500;
                                                        font-size: 17px; padding: 14px; cursor: pointer;">
                                                <i class="fa fa-dashboard icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                                <span class="mini-click-non" style="position: absolute; top: 10px">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;Tableau de bord</span>
                                            </li>
                                            <li onclick="window.location='./Accueil.html'" style="background-color: rgb(0, 111, 186); color: whitesmoke;
                                                    font-size: 17px; padding: 14px; font-weight: bold; cursor: pointer;">
                                                <i class="fa fa-calendar icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                                <span class="mini-click-non" style="position: absolute; top: 10px">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;Reservations</span>
                                            </li>
                                            <li onclick="window.location='./Accueil.html'" style="color: grey; font-weight: 500;
                                                    font-size: 17px; padding: 14px; cursor: pointer;">
                                                <i class="fa fa-user icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                                <span class="mini-click-non" style="position: absolute; top: 10px">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;Utilisateurs</span>
                                            </li>
                                            <li onclick="window.location='./Accueil.html'" style="color: grey; font-weight: 500;
                                                    font-size: 17px; padding: 14px; cursor: pointer;">
                                                <i class="fa fa-table icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                                <span class="mini-click-non" style="position: absolute; top: 10px">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;Animateurs</span>
                                            </li>
                                            <li onclick="window.location='./mailbox.html'" style="color: grey; font-weight: 500;
                                                    font-size: 17px; padding: 14px; cursor: pointer;">
                                                <i class="fa fa-envelope icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                                <span class="mini-click-non" style="position: absolute; top: 10px">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;Courrier</span>
                                            </li>
                                            <li onclick="window.location='./Accueil.html'" style="color: grey; font-weight: 500;
                                                    font-size: 17px; padding: 14px; cursor: pointer;">
                                                <i class="fa fa-bell icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                                <span class="mini-click-non" style="position: absolute; top: 10px">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;Notifications</span>
                                            </li>
                                            <li onclick="window.location='./Accueil.html'" style="color: grey; font-weight: 500;
                                                    font-size: 17px; padding: 14px; cursor: pointer;">
                                                <i class="fa fa-bookmark icon-wrap sub-icon-mg" aria-hidden="true"></i>
                                                <span class="mini-click-non" style="position: absolute; top: 10px">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;Inviter</span>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- tabs start-->
        <div class="admintab-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="admintab-wrap mg-t-30">
                            <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1">
                                <li class="active"><a data-toggle="tab" href="#TabProject"><span class="adminpro-icon adminpro-analytics tab-custon-ic"></span>Tab Project</a>
                                </li>
                                <li><a data-toggle="tab" href="#TabDetails"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span>Tab Details</a>
                                </li>
                                <li><a data-toggle="tab" href="#TabPlan"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic"></span>Tab Plan</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="TabProject" class="tab-pane in active animated flipInX custon-tab-style1">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                                <div id="TabDetails" class="tab-pane animated flipInX custon-tab-style1">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </div>
                                <div id="TabPlan" class="tab-pane animated flipInX custon-tab-style1">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. </p>
                                    <p>the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="admintab-wrap mg-t-30">
                            <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1 tab-menu-right">
                                <li class="active"><a data-toggle="tab" href="#TabProject2"><span class="adminpro-icon adminpro-analytics tab-custon-ic"></span>Tab Project</a>
                                </li>
                                <li><a data-toggle="tab" href="#TabDetails2"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span>Tab Details</a>
                                </li>
                                <li><a data-toggle="tab" href="#TabPlan2"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic"></span>Tab Plan</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="TabProject2" class="tab-pane in active animated flipInY custon-tab-style1">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                                <div id="TabDetails2" class="tab-pane animated flipInY custon-tab-style1">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </div>
                                <div id="TabPlan2" class="tab-pane animated flipInY custon-tab-style1">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. </p>
                                    <p>the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tabs End-->
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright &copy; 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="js/metisMenu/metisMenu.min.js"></script>
    <script src="js/metisMenu/metisMenu-active.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="js/tab.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="js/main.js"></script>
</body>

</html>